@import 'var.scss';

.layout{
    height:100%;
    .app-sider{
        min-height:100%;
        .header{
            overflow: hidden;
            background: #002140;
            height:64px;
            .logo{
                display: block;
                height:64px;
                line-height:64px;
                text-decoration: none;
                transition:all .3s;
                padding-left:24px;
                font-size:0;
                img{
                    display: inline-block;
                    height:36px;
                    vertical-align: middle;
                    margin-right:16px;
                }
                h1{ 
                    display:inline-block;
                    color: #fff;
                    font-weight: 600;
                    font-size: 20px;
                    margin-bottom:0;
                    vertical-align: middle;
                }
            }
            
        }
    }
    :local(.ant-layout-header){
        background-color:#ffffff;
        padding:0 24px;
    }

    .collapse-sider{
        width:76px !important;
        min-width:76px !important;
        max-width:76px !important;
    }
}