
@import 'var.scss';

.header{
    padding:50px;
    .red{
        color:$theme-color;
        font-size:20vmin;
        @include ellipsis;
    }
    :local(.logo){
        // animation: name duration timing-function delay iteration-count direction;
        animation: spin-rotate-animation 5s  linear infinite;
        pointer-events: none;
    }
   
}
 //旋转动画
 @keyframes spin-rotate-animation{
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}
